@import url("https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css");
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');
@import url('https://discordstyles.github.io/HorizontalServerList/dist/HorizontalServerList.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Love+Light&family=Zen+Kurenaido&display=swap');
:root {
--background-image: url('https://i.imgur.com/HmLA3qI.jpg');
--background-image-blur: 0px;
--background-image-size: cover;
--background-image-position: center;
--popout-modal-image: url('https://i.imgur.com/kYW2H5C.jpg');
--popout-modal-blur: 100px;
--popout-modal-size: cover;
--popout-modal-position: center;
--home-button-image: url('https://discordstyles.github.io/FrostedGlass/assets/discord.svg');
--home-button-size: cover;
--home-button-position: center;
--serverlist-brightness: 0.7;
--left-brightness: 0.8;
--middle-brightness: 0.5;
--right-brightness: 1;
--popout-modal-brightness: 0.75;
--gradient-primary: 230,230,230;
--gradient-secondary: 205,205,205;
--gradient-direction: 320deg;
--tint-colour: 255,255,255;
--tint-brightness: 0.5;
--window-padding: 10px;
--window-roundness: 25px;
--scrollbar-colour: rgba(0, 0, 0, 0.5);
--link-colour: #FF1111FF;
--show-gift-gif-buttons: no-repeat;
--font: 'zen Kurenaido';
--update-notice-1: none;
--HSL-server-icon-size: 40px;
--HSL-server-spacing: 10px;
--rs-small-spacing: 2px;
--rs-medium-spacing: 0px;
--rs-large-spacing: 4px;
--rs-small-width: 2px;
--rs-medium-width: 3px;
--rs-large-width: 4px;
--rs-avatar-shape: 50%;
--rs-online-color: #20FF00FF;
--rs-idle-color: #6A6A6AD3;
--rs-dnd-color: #F00000FF;
--rs-offline-color: #FFFFFF00;
--rs-streaming-color: #FF0000FF;
--rs-invisible-color: #FFFFFF00;
--rs-phone-visible: block;
}